Call:
lm(formula = pop21 ~ night, data = lbr_adm2)

Residuals:
    Min      1Q  Median      3Q     Max 
-217541  -21253   -8382   12641  322675 

Coefficients:
             Estimate Std. Error t value Pr(>|t|)    
(Intercept) 2.643e+04  3.213e+03   8.226 3.79e-15 ***
night       2.564e+00  1.264e-01  20.290  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 50530 on 352 degrees of freedom
Multiple R-squared:  0.5391,	Adjusted R-squared:  0.5378 
F-statistic: 411.7 on 1 and 352 DF,  p-value: < 2.2e-16